---
const { id, time } = Astro.props;

const attributes = time !== null ? { "data-time": time } : {};
---

<p>
  潜水艦{id}
  <span id={`timer${id}`} data-id={id} {...attributes}
    >データがありません。</span
  >
</p>

<script>
  function updateCountdown() {
    document.querySelectorAll("[data-id]").forEach((timerElement) => {
      const id = timerElement.getAttribute("data-id");
      const timeAttr = timerElement.getAttribute("data-time");

      if (
        !timeAttr ||
        Number.isNaN(Number(timeAttr)) ||
        timeAttr.trim() === ""
      ) {
        (timerElement as HTMLElement).innerText = "データがありません。";
        return;
      }

      const time = parseInt(timeAttr, 10);
      let timeLeft = time - Date.now();

      if (timeLeft > 0) {
        const days = Math.floor(timeLeft / 86400000);
        const hours = Math.floor((timeLeft % 86400000) / 3600000);
        const minutes = Math.floor((timeLeft % 3600000) / 60000);
        const seconds = Math.floor((timeLeft % 60000) / 1000);
        (timerElement as HTMLElement).innerText =
          `残り時間: ${days}日 ${hours}時間 ${minutes}分 ${seconds}秒`;
      } else {
        (timerElement as HTMLElement).innerText = "探索完了！";
      }
    });
  }

  document.addEventListener("DOMContentLoaded", updateCountdown);
  setInterval(updateCountdown, 1000);
</script>
