---
const { id } = Astro.props;
---

<div data-id={id}>
  <h2 class="title">潜水艦{id}</h2>
  <div class="input-boxes">
    <div class="radio-box">
      <label
        ><input type="radio" name={`method${id}`} value="relative" checked /> 残り時間</label
      >
      <label
        ><input type="radio" name={`method${id}`} value="absolute" /> 帰還予定時刻</label
      >
    </div>

    <div id={`relative-inputs-${id}`} class="input-box">
      <label><input type="number" id={`days-${id}`} placeholder="0" />日</label>
      <label
        ><input type="number" id={`hours-${id}`} placeholder="0" />時間</label
      >
      <label
        ><input type="number" id={`minutes-${id}`} placeholder="0" />分</label
      >
    </div>

    <div
      id={`absolute-inputs-${id}`}
      style="display: none;"
      class="input-box -datetime"
    >
      <input type="datetime-local" id={`absolute-time-${id}`} />
    </div>
  </div>
</div>

<style scoped>
  .title {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .input-boxes {
    padding-left: 0.5rem;
  }
  .radio-box {
    font-size: 1.2rem;
  }

  .input-box input {
    margin-top: 0.5rem;
    width: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  .input-box.-datetime input {
    width: auto;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("[data-id]").forEach((container) => {
      const id = container.getAttribute("data-id");

      document
        .querySelectorAll(`input[name="method${id}"]`)
        .forEach((radio) => {
          radio.addEventListener("change", () => {
            const relativeInputs = document.getElementById(
              `relative-inputs-${id}`
            );
            const absoluteInputs = document.getElementById(
              `absolute-inputs-${id}`
            );
            if (relativeInputs) {
              relativeInputs.style.display =
                (radio as HTMLInputElement).value === "relative"
                  ? "block"
                  : "none";
            }
            if (absoluteInputs) {
              absoluteInputs.style.display =
                (radio as HTMLInputElement).value === "absolute"
                  ? "block"
                  : "none";
            }
          });
        });
    });
  });
</script>
